.button {
  font: inherit;
  border: 1px solid #104716;
  background: #389559;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #104716;
  border-color: #389559;
}

.button:focus {
  outline: none;
}
